.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(100deg, #374d39, #bb821a);
  }
  
  .welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f3136;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .app-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #ffffff;
    margin-bottom: 20px;
  }

  .welcome-button {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .welcome-button:hover {
    background-color: #5b6eae;
  }